// usage of flex here is only meant to center the child/children inside;
// use section__flex for configuring layout
.section {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $ml-size;
  text-align: center;
}

.section--eat-in-overlay {
  background: linear-gradient(
      change-color($white, $alpha: 0.7),
      change-color($white, $alpha: 0.7)
    ),
    url('/backgrounds/eat-in.jpg') no-repeat center center/cover;
  min-height: 50vh;
}

.section--catering-overlay {
  background: linear-gradient(
      change-color($white, $alpha: 0.7),
      change-color($white, $alpha: 0.7)
    ),
    url('/backgrounds/catering.jpg') no-repeat center center/cover;
  min-height: 50vh;
}

// need to be applied to container-like enveloping elements
.section__flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__divider {
  align-items: center;
  column-gap: $l-size;
  display: grid;
  justify-content: center;
}

.section__divider-element {
  padding: 0 $s-size;
}

.section__label {
  margin: $s-size 0;
}

.section__label--title {
  color: $primary-color;
  font-size: $m-size;
  font-weight: bold;
  text-align: center;
}

.section__label--subtitle {
  font-size: $sm-size;
}

.section__label--description {
  color: $light-black;
  font-size: $s-size;
}

.section__label--over-overlay {
  color: $black;
}

@media (min-width: $desktop-breakpoint) {
  // take the first child and apply it to the end
  .section:nth-child(odd) > .section__flex > *:first-child {
    order: 1;
  }

  .section__divider--2-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .section__divider-element:last-child {
    text-align: left;
  }

  .section__flex {
    flex-direction: row;
  }
}
