@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
}
