$primary-color: #116133;
$primary-color-light: lighten($primary-color, 66%);
$light-color: #f6f6f6;
$light-black: #777;
$black: #222;
$white: #fff;
$grey: #bbb;
$dark-grey: #333;

$desktop-breakpoint: 76.8rem;

$navbar-height: 7rem;

$xxs-size: 0.6rem;
$xs-size: 1.2rem;
$s-size: 1.6rem;
$sm-size: 2.4rem;
$m-size: 3.2rem;
$ml-size: 4rem;
$l-size: 4.8rem;
